<!DOCTYPE html>
<html>
  <head>
    <title>LeWagonDBConvertor</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
